.guest {
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 79px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background: #D9C9CA;
  padding: 47px 0 34px;
  margin-bottom: 53px;

  @media (max-width: 768px) {
    font-size: 34px;
    line-height: normal;
    padding: 34px 5px 34px;
  }
}

.conteiner {
  margin-top: 121px;

  img {
    width: 100%;
  }

  @media (max-width: 768px) {
    margin-top: 80px;
  }
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 53px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 51px;

  @media (max-width: 768px) {
    font-size: 22px;
    line-height: normal;
    text-transform: none;
  }
}

.text2 {
  font-family: 'TT Drugs';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 46px;

  span {
    display: block;
    margin-bottom: 60px;

    @media (max-width: 768px) {
      margin: 0 10px;
      margin-bottom: 35px;
    }
  }

  @media (max-width: 768px) {
    font-size: 23px;
    line-height: normal;
  }
}