.container {
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
  font-family: 'TT Drugs';

  @media (max-width: 768px) {
    flex-direction: column;
    margin: 80px 10px 0;

    img { 
      width: 100%;
    }
  }
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 46px;
  margin-top: 82px;

  @media (max-width: 768px) {
    font-size: 23px;
    line-height: normal;
    margin-top: 45px;
  }
}

.text2 {
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 46px;
  margin-top: 45px;
  margin-bottom: 57px;

  @media (max-width: 768px) {
    font-size: 23px;
    line-height: normal;
    margin-top: 25px;
    margin-bottom: 7px;
  }
}

.joke {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 14px;
    line-height: normal;
    margin-bottom: 20px;
  }
}

.close {
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 46px;
  margin-top: 100px;
  text-align: center;
  color: #000000;

  @media (max-width: 768px) {
    font-size: 29px;
    line-height: normal;
    margin-top: 30px;
  }
}